*{
font-family:sans-serif;"Caviar dreams";
    src:url('fonts/CaviarDreams.ttf');}

header{

margin-left: 20px;
margin-right: 20px;
text-align: center;
font-size: 23px; 
font-family:arial; 
background-color: grey;
color: white;
transition:background-color 3s;
margin-left: 100px;
margin-right:100px;
width: 1050px;
}


h1{
    color:black;
    font-size:20px;    
    margin-left:200px;
    margin-bottom:20px;
    
}


h2{
    color:black;
    font-size:23px;    
    padding-left:600px;
    
}




nav ul {
display: flex;
text-decoration: none;
}

nav li{
padding: 34px 34px 30px 30px;
width: 100%;
list-style-type:none;
}


body 
{
color: black; 
margin: 0;
width: 100%;
} 

img {
    margin-top: 50px;
    margin-bottom:50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logiciel img{
    height:50px;
    display: inline-block;
    margin-bottom:100px;

}
       

main ul {
    margin: 0;
    margin-bottom:20px;
    padding:0;
}

main{
    width:500px;
    margin-top: 50px;
    margin-bottom:50px;

}

main li {
 text-align:left;
}



a {
    text-decoration:none;
    color: white;
   }
 

a:hover {color: black; 
        background-color: white;}
header:hover {  background-color: white;
                }


.cv{
background-color:white;
    width: 1050px;
    display: block;
    margin-left: 100px;
    margin-right:100px;
    padding-left:300px;
}


.blocindex{
background-color:grey;
    width: 1050px;
    display: block;
    margin-left: 100px;
    margin-right:100px;
    text-align:left;
}

footer{
    padding-top:40px;
    text-align:right;
    
}
